/* IMPORTS */

@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');


/* VARIABLES */

:root {
    --principal: #ECF2FE;
    --secondary: #1C1E3D;
    --font-primary: "Manrope", sans-serif;
    --font-secundary: "Manrope", sans-serif;
    --text-lg: 32px;
    --text-reg: 18px;
}

/* NORMALIZE */

*,
*::after
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* GLOBALS */

html {
    font-size: 62.5%;
    font-family: var(--font-primary);
    color: var(--secondary)
}

body {
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
    background-color: #ECF2FE; /* fondo a todo el contenido */
    align-items: center;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #1C1E3D;
    display: inline-block;
}


/* HELPERS CLASES */

.flex-row {
    display: flex;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.container {
    max-width: 1080px;
    margin: 0 auto;
}


/* HEADER AND NAVBAR */

header {
    background-color: var(--principal)
}

header .navbar {
    min-height: 10vh;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
}

header .logo {
    flex-basis: 30%
}

header .menu {
    flex-basis: 50%;
    justify-content: space-between;
}

.menu .menu__item {
    position: relative;
}

.menu .menu__item .menu__link {
    font-size: 1.5em;
    padding: 1rem;
}

.menu .menu__item .menu__link:hover {
    color: #3A5EC1;
    transition: all .3s ease-in-out;
}

.navbar .menu__item .sub-menu {
    display: none;
    position: absolute;
    left: -35px;
}

.navbar .menu .menu__item:hover .sub-menu {
    display: block;
}

.navbar .menu .menu__item .sub-menu__link {
    padding: 1rem;
    font-size: 1.4em;
    transition: all .3s ease-in-out;
    background-color: #ECF2FE; 
}

.navbar .menu .menu__item .sub-menu__link:hover {
    background-color: #1C1E3D;
    color: #ECF2FE;
}

.menu__icono {
    padding: 1rem;
}


/* INICIO */

.presentacion {
    gap: 2rem;
    align-items: center;
    padding: 1em 2em;
}

.presentacion__picture {
    flex-basis: 50%;
    min-width: 320px;
}

.presentacion__img {
    width: 100%;
}

.presentacion__description {
    flex-basis: 50%;
}

.presentacion__description h1 {
    font-size: 4.8em;
}

.presentacion__description p {
    font-size: 1.6em;
}

.presentacion__description button {
    color: antiquewhite;
    background-color: #FFA236;
    border-radius: 8px;
    border: none;
    font-size: 1.5em;
}

.presentacion__description a {
    color: rgb(255, 255, 255);
    padding: 1rem;
}

.presentacion__description button:hover {
    background-color: #ee9733;
    transition: all .4s ease-in-out;
}


/* NOSOTROS */

.nosotros {
    gap: 6rem;
    align-items: center;
    padding: 1em 2em;
}

.nosotros__picture {
    flex-basis: 40%;
    min-width: 320px;
}

.nosotros__img {
    width: 100%;
}

.nosotros__description {
    flex-basis: 60%;
}

.nosotros__description h1 {
    font-size: 4.8em;
}

.nosotros__description p {
    font-size: 1.6em;
}





/* SERVICIOS */

.servicios {
    align-items: center;
    justify-content: center;
}


.servicios__description {
    justify-content: center;
    padding: 1em 2em; 
    align-items: center;
    flex-wrap: wrap;
} 

.servicios__description h1 {
    font-size: 4.8em;
    text-align: center;
}

.servicios__description p {
    font-size: 1.6em;
    text-align: center;
}

.servicios__boxes {
    flex-grow: 2;
    gap: 3rem;
    justify-content: center;
    margin: 30px auto;
    margin-bottom: 80px;
    flex-wrap: wrap;
    align-items: center;

}

.servicios__boxes h2 {
    font-size: 2em;
    justify-content: center;
    text-align: center;
}

.servicios__boxes p {
    font-size: 4em;
    justify-content: center;
    text-align: center;
}

.servicios__boxes li {
    font-size: 01.2em;
    text-align: center;
    position: relative;
}

.servicios__boxes ul {
    justify-content: center;
    align-items: center;
    margin-left: -40px;
}

.servicios__boxes button {
    justify-content: center;
    text-align: center;
    color: rgb(255, 255, 255);
    background-color: #FFA236;
    border-radius: 4px;
    border: none;
    font-size: 1.4em;
    padding: 0.5rem 4rem;


}

.servicios__card {
    background-color: rgb(255, 255, 255);
    padding: 20px 50px;
    padding-bottom: 50px;
    border-radius: 8px;
    flex-wrap: wrap;
    align-items: center;
    
}






/* CONTACTO */

.contacto {
    gap: 8rem;
    align-items: center;
    padding: 1em 2em;
}

.contacto__picture {
    flex-basis: 40%;
    min-width: 320px;
}

.contacto__img {
    width: 100%;
    border-radius: 8px;
}

.contacto__description {
    flex-basis: 60%;
}

.contacto__description h1 {
    font-size: 3.3em;
}

.contacto__description p {
    font-size: 1.6em;
}

.contacto__button {
    padding: 12px 16px;
    color: antiquewhite;
    background-color: #FFA236;
    border-radius: 8px;
    border: none;
    font-size: 1.5em;
}

.contacto__label {
    color: var(--secondary);
    font-size: 1.2em;
}

/*
.contacto__input {    
} */

.contacto__forms {
    gap: 2rem;
    flex-grow: 4;/*
    flex-wrap: wrap;
    justify-content: space-between; */
}

.contacto__items {
    position: relative;
    flex-grow: 4;
}






/* FOOTER */

footer {
    height: 10vh;
    align-items: center;
    justify-content: center;
}

footer {
    background-color: #1C1E3D;
    color: rgb(255, 255, 255);
}

footer p {
    text-align: center;
    font-size: 1.3em;
}



/* MEDIA QUERIES */

@media screen and (max-width: 768px) {

    /* Navbar */
    header .navbar {
        flex-wrap: wrap;
        justify-content: center;
    }

    /* Main - Inicio */
    .presentacion {
        flex-wrap: wrap; 
        font-size: .9em ;
    }
    
    .presentacion__picture {
        flex-grow: 1; /*
        margin: 3vh; */
    }
    
    .presentacion__description {
        flex-grow: 1; /*
        order: -1; 
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 3vh;*/
    }

    /* Nosotros */
    .nosotros {
        flex-wrap: wrap;
        font-size: .9em ;
    }
    
    .nosotros__picture {
        flex-grow: 1;
    }
    
    .nosotros__description {
        flex-grow: 1; 
    }

    /* Servicios */
    .servicios {
        flex-wrap: wrap;
        font-size: .9em;
    }
    
    .servicios__description {
        flex-grow: 1;
    } 
    
    .servicios__boxes {
        flex-grow: 1;
    }
    

    /* Contacto */
    .contacto {
        flex-wrap: wrap;
    }
    
    .contacto__picture {
        flex-grow: 1;
    }
    
    .contacto__description {
        flex-grow: 1;
    }
        
    


    

}