/* IMPORTS */

@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');


/* NORMALIZE */

*,
*::after
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* GLOBALS */

html {
    font-size: 62.5%;
    font-family: $font-primary;
    color: $secondary;
}

body {
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
    background-color: #ECF2FE; /* fondo a todo el contenido */
    align-items: center;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #1C1E3D;
    display: inline-block;
}
